*{
    margin: 0;
    padding: 0;
}
.main{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading{
    font-size: 70px;
    font-weight: 900;
    padding-top: 60px;
}
.message{
    font-size: 25px;
    padding-top: 40px;
}
button{
    color:white;
    background-color: rgb(33, 33, 146);
    padding: 30px 70px;
    margin-top: 40px;
}
.quote{
    padding-top: 40px;
    font-size: 25px;
}
.author{
    padding-top: 10px;
    font-size: 25px;
}